<div ng-app="myApp" ng-controller="loginCtrl">
  <link href="css/login/login.css" rel="stylesheet">
  <div class="login_title">
    <img class="login_title_img" src="img/login/logo@2x.png">
  </div>
  <div style="border: 0.5px solid #D9D9D9;">
    <div class="login_user" >
      <div class="login_div">
        <div class="login_lable"><img class="input_img"  src="img/login/user@2x.png"></div>
        <!--<input id="username" ng-model="user_name" type="email" placeholder='输入邮箱'>-->
        <input id="username" type="text" ng-model="email" placeholder='输入邮箱'>
      </div>
    </div>
    <div class="login_pwd">
      <div class="login_lable" style="margin-left: 30px"><img class="input_img" src="img/login/password@2x.png"></div>
      <input id="userpwd" type="password" ng-model="password" placeholder='输入密码'>
    </div>
  </div>
  <button class="login-button_denglu" ng-click="signIn()" >登录</button>
  <button class="login-button_dengzhuce" ng-click="register()">注册</button>
  <div class="third">第三方登录</div>
  <div class="div_third_div"  ng-click="qqclick()" id="qqBtn">
    <div class="div_third"><img class="img_third" src="img/login/01-q@2x.png"></div>
  </div>
  <div class="div_third_div" ng-click="wxclick()" id="wxBtn">
    <div class="div_third"><img class="img_third" src="img/login/02wx-@2x.png"></div>
  </div>
  <div class="div_third_div" ng-click="sinaclick()" id="xlBtn">
    <div class="div_third"><img class="img_third" src="img/login/03-xl@2x.png"></div>
  </div>
</div>










