<div ng-controller="infoCtrl">
    <!--<div class="id_header" ><b>公众号</b>-->
    <!--<div style="width: 50px;float: left;"  ng-click="backto()">-->
        <!--<div class="back"></div>-->
    <!--</div>-->
    <!--</div>-->

    <header style="height: 64px;width:100%;">
        <div style=" background-color: #2d6bb0;height: 20px"></div>
        <div class="id_header" ><b>详情页</b>
            <div style="width: 50px;float: left"  ng-click="backto()">
                <div class="back"></div>
            </div>
        </div>
    </header>

    <div class="img-div" style="margin:0 auto">
        <img style="margin-top: 64px;width:auto;margin-left: 8%;height: 200px" class="search_img" ng-src="http://192.168.0.103:8080/clt/c_manageController/download.do?fileName=428778e0-1bff-4102-9398-ed6469b7784e.png">
    </div>

<div style="margin-top: 20px;width:auto;margin-left:30%;height: 200px">
   欢迎您关注: <label style="background-color:#39F; text-align:center" > {{infoItem}}</label>
</div>






</div>









