<ion-view view-title="公众号">
    <ion-content class="padding">
        <div class="search_list" ng-repeat="search in searchs track by $index">
                <div class="search_img-div">
                    <!--<img class="search_img" src="{{search.sys_pic}}">-->
                    <img class="search_img"  ng-src="{imgpath}}">

                </div>
                <div class="titles" >{{search.sys_title}}</div>
                <div class="search_nocare" ng-click="care(search.system_id)">+关注</div>
          </div>
  </ion-content>
   
</ion-view>





	