<div ng-controller="registerCtrl">
    <link href="css/register/register.css" rel="stylesheet">
    <header style="height: 64px">
        <div style=" background-color: #2d6bb0;height: 20px"></div>
        <div class="id_header">
            <div class="back" ng-click="backto()"></div>
            <div class="title">
                <div class="title_div">注册</div>
            </div>
        </div>
    </header>


    <div class="user_email">
        <div class="login_div">
            <lable class="user_email_lable">邮箱</lable>
            <input id="email" ng-model="email" type="text" placeholder='输入邮箱'>
        </div>
    </div>

    <div class="user_email">
        <div class="login_div">
            <lable class="user_email_lable">密码</lable>
            <input id="pwd" ng-model="pwd" type="password" placeholder='输入密码'>
        </div>
    </div>

    <div class="user_email">
        <div class="login_div">
            <lable class="user_email_lable">确认密码</lable>
            <input id="repwd" ng-model="repwd" type="password" placeholder='再次输入密码'>
        </div>
    </div>

    <button class="login-button_denglu" ng-click="submit()">确定</button>
</div>
