.user_email {
    border: 0.5px solid #D9D9D9;
    margin-top: 10px;
    background-color: white;
    height: 48px;
}

.user_email_lable {
    float: left;
    height: 45px;
    width: 25%;
    line-height: 48px;
    margin-left: 5%;
}

#email {
    width: 70%;
    height: 45px;
}

#repwd {
    width: 70%;
    height: 45px;
}

#pwd {
    width: 70%;
    height: 45px;
}

.login-button_denglu {
    font-size: 18px;
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    height: 45px;
    background-color: #00b0e4;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    border: none;
}

.error-container {
  /*margin: 5px 0;*/
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    padding: 0;
    background-color: rgba(0,0,0,0);
    color: #fff;
    line-height: 26px;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}

.error-container span {
    display: block;
    height: 26px;
    margin: 7px 7px 0 0;
    padding: 0 5px;
    background-color: #ff5c00;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
.error {
  /*padding: 10px 16px;*/
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #ff5c00;
}
 
.no-errors {
  border-bottom: 3px solid green;
}

