<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Ionic introduce Tab -->
  <ion-tab title="Ionic" icon-off="ion-ionic" icon-on="ion-ionic" href="#/tab/entrance">
    <ion-nav-view name="tab-entrance"></ion-nav-view>
  </ion-tab>

  <!-- Cordova Plugins Tab -->
  <ion-tab title="Plugins" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/plugins">
    <ion-nav-view name="tab-plugins"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Setting2" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/settings">
    <ion-nav-view name="tab-setting"></ion-nav-view>
  </ion-tab>


</ion-tabs>