<ion-view view-title="Ionic">
  <ion-content class="scroll-content padding">
    <h2>Ionic 简介</h2>
    <p>
ionic是一个强大的_混合式/hybrid_HTML5移动开发框架，特点是使用标准的HTML、 CSS和JavaScript，开发跨平台（目前支持：Android、iOS，计划支持：Windows Phone、Firefox OS） 的原生App应用：

    </p>
    <p>
      <img src="img/ionic_arch.png" style="max-width:100%;"/>
    </p>
    <p>ionic主要包括三个部分：</p>
    <ul>
     <li><strong>CSS框架</strong> - 提供<em>原生_App质感的CSS样式</em>模拟_。ionic这部分的实现使用了ionicons图标样式库。</li>
      <li><strong>JavaScript框架</strong> - 提供移动Web应用开发框架。ionic基于AngularJS基础框架开发，因此
    自然地遵循AngularJS的框架约束；此外，ionic使用AngularJS UI Router实现前端路由。</li>
      <li><strong>命令行/CLI</strong> - 命令行工具集用来简化应用的开发、构造和仿真运行。ionic命令行工具使用了
    Cordova，依赖于平台SDK（Android &amp; iOS）实现将移动web项目打包成原生app。</li>
    </ul>

  </ion-content>
</ion-view>
