<ion-view view-title="Plugins DEMO">
  <ion-content>
    <ion-list>
      <ion-item nav-clear menu-close href="#/tab/plugins/device">
            设备信息
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/network">
            网络状态
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/camera">
            相机/相册
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/barcode">
            二维码／条形码
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/shake">
            摇一摇
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/watermaker">
            图片水印和签名
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/pay">
            支付
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/share">
            第三方分享
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/push">
            消息推送
        </ion-item>
        <ion-item nav-clear menu-close href="#/tab/plugins/mdm">
            MDM
        </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
