<ion-view view-title="设备信息">
    <ion-content>
        <div class="card">
            <!--<div class="item ">
                ionic plugin add cordova-plugin-device
            </div>-->
            <div class="item item-divider">
                Your device information!
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">
                        厂商 : {{manufacturer}}
                    </li>
                    <li class="item">
                        型号 : {{model}}
                    </li>
                    <li class="item">
                        平台 : {{platform}}
                    </li>
                    <li class="item">
                        UUID : {{uuid}}
                    </li>
                    <li class="item">
                        版本 : {{version}}
                    </li>
                      <li class="item">
                        序列号 : {{serial}}
                    </li>
                    <li class="item">
                        模拟器 : {{isVirtual}}
                    </li>
                </ul>
            </div>
            <div class="item item-divider text-right">
                from <code>ngCordova</code>
            </div>
        </div>
    </ion-content>
</ion-view>
